@font-face {
    font-family: 'dosisregular';
    src: url('fonts/dosis-regular-webfont.woff2') format('woff2'),
         url('fonts/dosis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dosisbold';
    src: url('fonts/dosis-bold-webfont.woff2') format('woff2'),
         url('fonts/dosis-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'frutiger_italic';
    src: url('fonts/frutiger-italic-webfont.woff2') format('woff2'),
         url('fonts/frutiger-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'frutiger_roman';
    src: url('fonts/frutiger-roman-webfont.woff2') format('woff2'),
         url('fonts/frutiger-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}