
@import "vars.scss";

$title-regular: frutiger_roman;
$title-italic: frutiger_italic;
$text-regular: dosisregular;
$text-bold: dosisbold;

$background-color: #fff;
$color-black: #262626;
$color-index: rgba(214, 11, 82, 1);
$color-index-b:rgba(255, 13, 98, 1);
// $color-index-g: rgba(249, 184, 58, 1);
$color-quienes: rgba(226, 42, 130, 1);
$color-quienes-b: rgba(104,36,121,1);
$color-quienes-mid: #ae2a98;
$gra-quien: linear-gradient(0deg, rgba(104,36,121,1) 0%, rgba(226,42,130,1) 100%);

$color-cursos: rgba(73, 177, 205, 1);
$color-cursos-b: rgba(143, 192, 205, 1);
$gra-cur: linear-gradient(0deg, rgba(56,120,189,1) 0%, rgba(73,177,205,1) 100%);

$color-cursos-foto: rgba(73, 177, 205, 1);
$color-cursos-audio: rgba(64, 148, 197, 1);
$color-cursos-dise: rgba(56, 120, 189, 1);

$color-proyectos: rgba(249, 207, 0, 1);
$color-proyectos-mid: #c4c711;
$color-proyectos-b: rgba(249, 232, 149, 1);

$gra-pro: linear-gradient(0deg, rgba(142,190,34,1) 0%, rgba(249,207,0,1) 100%);

$color-contacto: #F9B83A;
$color-contacto-mid: #f28b5a;
$color-contacto-b: #EB5D79;

$gra-co: linear-gradient(0deg, rgba(235,93,121,1) 0%, rgba(249,184,58,1) 100%);

$gradient-index: linear-gradient($color-index, $color-black);
$linear: linear-gradient(180deg, #584952 -30.13%, #D91A5B -30.11%, #262626 141.85%);





.i-f-div{
    background: $color-black;
}

.i-f-hr{
    .separador{
        height: 21px !important;
    }


    .separador.hr-index{
        background-color: $color-index !important;
    }

    .separador.hr-quien{
        background-color: $color-quienes-mid !important;
    }

    .separador.hr-cur{
        background-color: $color-cursos-audio !important;
    }

    .separador.hr-proy{
        background-color: $color-proyectos-mid !important;
    }

    .separador.hr-contac{
        background-color: $color-contacto-mid !important;
    }
}

.i-f-ul{
    list-style-type: none;
    // display: inline-flexbox;
    line-height: 2.9rem;
}

.i-f-li{
    // margin-bottom: 0.5em;
    
}

.i-f-li > a{
    color: $background-color;
    // font-size: 1.1em;
    text-decoration: none;
    margin-bottom: 19px;
    // font-weight: 700;
}

.i-f-li.active > a{
    color: $color-black;
    font-size: 1.1em;
    text-decoration: none;
    margin-bottom: 19px;
    font-weight: 700;
}

.i-f-li.active > a{
    color: $color-black;
    font-size: 1.1em;
    text-decoration: none;
    margin-bottom: 19px;
    font-weight: 700;
}

.i-f-iat{
    width: 6rem;    
}




.i-f-logo{
    min-width: 120px;
    width: 80%;
    max-width: 140px;
}

.i-f-line{
    background: $color-black;
}

.i-f-line > div{
    color: $background-color;
}

.i-f-l-escuelas{
    // background-color: #f8c0c0;
}

.i-f-l-escuelas > div  > img{
    max-height: 5rem;
    margin-bottom: 2rem;
}

.i-f-cc{
    color: $background-color;
}

.i-f-social-icons > div > a > img{
    width: 2.1rem;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { html{

    .i-f-social-icons > div > a > img{
        width: 1.8rem;
    }

    .i-f-l-escuelas > div  > img{
        max-height: 136px;
        margin-bottom: 2rem;
    }

    .i-f-social-icons{
        -webkit-transform: translateY(-50px);
        margin-top: -67px;
    }
    
    // font-size: 20px;

    // .i-f-ul{
    //     list-style-type: none;
    //     display: flex;
    //     line-height: 1rem;
    // }
    }
}